$theme-main-color: #052a44;
$sections-bg-color: #eb8219;
$icons-bg-color: #ffffff;
$card-bg-color: #ffffff;

//fonts
$f-size-sm: 16px;

//colors
$ff-primary: "Poppins", sans-serif;
$ff-secondary: "Open Sans", sans-serif;
$ff-headers: "Plus Jakarta Sans", sans-serif;
$breakpoint-lg: 992px;


  
  //fonts
  $f-size-sm:16px;
//text colors
  $txt-color-white: #FFFFFF;