.container {
  width: 100%;
  max-width: 1120px;  
  margin: 0 auto;     
  padding: 0 50px;

  // @include mixins.respond-to(variables.$breakpoint-lg) {
  //   padding: 0 variables.$spacing-lg; 
  // }
}