@use "../abstracts/mixins";
@use "../abstracts/variables";

.hero-section {
  margin-bottom: 80px;
}

.hero-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  @include mixins.respond-to(variables.$breakpoint-lg) {
    @include mixins.flex-center(row, 73px);
  }
  &-text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 1;
    h1 {
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.2px;
      color: variables.$theme-main-color;
      color: #183b56;
      .hero-wrapper-title-mobile {
        @include mixins.respond-to(variables.$breakpoint-lg) {
          display: none;
        }
      }
      .hero-wrapper-title-desktop {
        display: none;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        text-transform: capitalize;
        text-align: left;
        @include mixins.respond-to(variables.$breakpoint-lg) {
          display: block;
        }
      }

      .hero-wrapper-title-highlight {
        @include mixins.respond-to(variables.$breakpoint-lg) {
          color: #e8db84;
        }
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
      @include mixins.respond-to(variables.$breakpoint-lg) {
        text-align: left;
      }
    }
  }

  &-btns {
    @include mixins.flex-center(row, 8px);

    &-icon {
      border: 1px solid #ffffff;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 50%;
    }

    a:nth-child(1) {
      background-color: #052a44;
      padding: 8px 12px;
      font-weight: 500;
      font-size: 14px;
      color: variables.$txt-color-white;
      border-radius: 8px;
      @include mixins.respond-to(variables.$breakpoint-lg) {
        padding: 15px 43px;
        font-size: 16px;
      }
    }
    a:nth-child(2) {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 500;
      font-size: 14px;
      @include mixins.respond-to(variables.$breakpoint-lg) {
        padding: 15px 43px;
        font-size: 16px;
      }
    }

    @include mixins.respond-to(variables.$breakpoint-lg) {
      justify-content: flex-start;
    }
  }

  &-image-side {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    // width: 588px;
    // height: 538px;
    // width: 100%;
    max-width: 588px;

    .hero-wrapper-bg {
      position: relative;
      height: 75%;
      border-radius: 8.6px;
      background-color: #e8db84;
      width: clamp(250px, 80%, 506px); 
      height: clamp(218px, 45vw, 506px); 
      // z-index: 0;
      // right: 70px;
      // bottom: 0;
      img {
        width: clamp(180px, 38vw, 420px);
      height: auto;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
       
        // @include mixins.respond-to(variables.$breakpoint-lg) {
        //   width: 421px;
        //   position: absolute;
        //   bottom: 0;
        //   left: 50%;
        //   transform: translateX(-50%);
        // }
      }
      @include mixins.respond-to(variables.$breakpoint-lg) {
       width: 506px;
        height: 408px;
        
      }
    }
  }

  &-stats {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 2;
    @include mixins.respond-to(variables.$breakpoint-lg) {
      top: 50%;
    }
  }
  &-cards {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    @include mixins.respond-to(variables.$breakpoint-lg) {
      padding: 10px;
    }
    h3 {
      font-weight: 700;
      font-size: 8px;
      line-height: 5.91px;
      color: #1e2a39;
      @include mixins.respond-to(variables.$breakpoint-lg) {
        font-size: 12px;
        margin-bottom: 10px;
        box-shadow: 1.81px 3.61px 34.34px 0px #00000014;
      }
    }
    span {
      font-weight: 350;
      font-size: 7px;
      line-height: 7px;
    }
    &-plus {
      background-color: #052a44;
      border: 1px solid #052a44;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      color: #ffffff;
      font-size: 10px;
    }
  }
}
