@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/base" as *;
@use "../components/container" as *;
@use "../base/reset" as *;

.services {
  background-color: $sections-bg-color;
  max-width: 278px;
  width: 278px;
  height: 797px;
  border-radius: 10px;
  margin: 0 auto;
  @include flex-column-space-between();
  &__header {
    width: 252px;
    height: 224px;

    @include flex-column-center();
    > h2 {
      font-family: $ff-primary;
      font-size: 28;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0.2px;
      color: #183b56;
      margin-top: 0;
      margin-bottom: 16px;
    }
    > p {
      font-family: $ff-primary;
      font-size: 16;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0px;
      color: #000000;
    }
  }
  &__list {
    width: 252px;
    height: 154px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .services__item {
      display: flex;
      align-items: center;
      width: auto;
      height: 38;
      font-family: $ff-primary;
      font-size: 14;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      color: #000000;
      .services__icon-wrapper {
        background-color: $icons-bg-color;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        @include flex-center();
        margin-right: 18px;
      }
    }
  }
  &__media {
    width: 252px;
    height: 262px;
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 1;
    .services__media-content {
      background-color: rgba(244, 244, 244, 0.6);
      backdrop-filter: blur(50.57px);
      width: 233.68px;
      height: 239.75px;
      border-radius: 6.4px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      .services__media-content-header {
        width: 100%;
        height: 13.66px;
        background-color: #eaeaea99;
        display: flex;
        justify-content: start;
        align-items: center;
        > span {
          display: inline-block;
          width: 5.56px;
          height: 5.56px;
          border-radius: 50%;
          margin-right: 3.3px;
        }
        .span-color-red {
          margin-left: 8.9px;
          background-color: #ee6767;
        }
        .span-color-orange {
          background-color: #f6c566;
        }
        .span-color-green {
          background-color: #5beb7b;
        }
      }
      .services__media-content-body {
        position: relative;
        width: 201.31px;
        height: 203.83px;
        div:nth-child(1) {
          overflow: hidden;
          width: 201.31px;
          height: 102.91px;
          border-radius: 5.44px;
          img {
            width: 201.31px;
            height: 102.91px;
          }
        }
        > div:nth-child(2) {
          overflow: hidden;
          width: 76.37px;
          height: 89.02px;
          border-radius: 5.44px;
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
          img {
            width: auto;
            height: 89.02px;
          }
        }
        > div:nth-child(3) {
          overflow: hidden;
          width: 112.79px;
          height: 89.02px;
          border-radius: 5.44px;
          text-align: center;
          display: inline-block;
          position: absolute;
          bottom: 0;
          right: 0;
          img {
            width: auto;
            height: 89.02px;
            margin-left: -20px;
          }
        }
      }
    }
    .services__media-content-decor {
      width: 99.64px;
      height: 99.64px;
      border-radius: 50%;
      background-color: $theme-main-color;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
  .services__button {
    // Style the button element
    background-color: $theme-main-color;
    width: 105px;
    height: 37px;
    border-radius: 8px;
    margin: 0 auto;
    font-family: $ff-secondary;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 678px) {
  .services {
    position: relative;
    max-width: 1240px;
    width: 1240px;
    height: 598px;
    border-radius: 29px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px auto auto;
    grid-template-areas:
      "services__media services__header"
      "services__media services__list"
      "services__media  services__button";
    &__media {
      grid-area: services__media;
      max-width: 499px;
      width: 100%;
      min-height: 518px;
      @include flex-column-center-relative();
      .services__media-content {
        max-width: 462px;
        width: 100%;
        height: 474px;
        .services__media-content-header {
          max-width: 462px;
          width: 100%;
          height: 27px;
          > span {
            width: 11px;
            height: 11px;
            margin-right: 6px;
          }
        }
        .services__media-content-body {
          max-width: 398px;
          width: 100%;
          height: 403px;
          div:nth-child(1) {
            overflow: hidden;
            width: 100%;
            height: 203px;
            border-radius: 10px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          > div:nth-child(2) {
            overflow: hidden;
            max-width: 151px;
            width: 100%;
            height: 176px;
            border-radius: 10px;
            img {
              width: auto;
              height: 100%;
              object-fit: cover;
            }
          }
          > div:nth-child(3) {
            overflow: hidden;
            max-width: 223px;
            width: 100%;
            height: 176px;
            border-radius: 10px;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              margin-left: 0;
            }
          }
        }
      }
      .services__media-content-decor {
        width: 197px;
        height: 197px;
      }
    }
    &__header {
      grid-area: services__header;
      max-width: 515px;
      width: auto;
      height: 160px;
      text-align: start;
      align-self: flex-end;

      > h2 {
        font-family: $ff-primary;
        font-size: 42;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0px;
        color: #000000;
      }
      > p {
        font-family: $ff-primary;
        font-size: 18;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0px;
        color: #000000;
      }
    }

    &__list {
      grid-area: services__list;
      justify-content: space-between;
      width: auto;
      height: 199px;
      .services__item {
        display: flex;
        width: 277;
        height: 53;
        align-items: center;
        font-size: 16;
        .services__icon-wrapper {
          background-color: $icons-bg-color;
          width: 53px;
          height: 53px;
        }
      }
    }
    .services__button {
      grid-area: services__button;
      width: 179px;
      height: 54px;
      position: absolute;
      top: 10px;
      left: 0;
    }
  }
}
